<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head') %>
        <script src="scripts/responsive.js" defer></script>
</head>

<body>
    <%- include('includes/header') %>
        <%- include('includes/aside') %>
            <main>
                <h1>Something went wrong!</h1>
                <div></div>
                <h1 style="font-size: 7rem;">500</h1>
                <p>
                    Unfortunately, Something went wrong on the server - we doing our best to fix it as quickly as
                    possible.
                </p>
                <p>Click <a href="/">here</a> to go back to the main page!</p>
            </main>
</body>

</html>